* {
    margin: 0;
    padding: 0;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(6, 146, 92);
}
.nav-item {
    padding: 20px;
    list-style-type: none;
}
.nav-item a {
    color: #fff;
    text-decoration: none;
}
/* Session */
section {
    padding-top: 30px;
}